<!DOCTYPE html>
<html lang="en-us" id="{{ site.project.alt_name | downcase  }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% capture page_id %}{{ page.url | remove: '/index.html' | slugify }}{% endcapture %}
    {% capture page_url %}{{ page.url | remove_first:'/' | remove: '/index.html' }}{% endcapture %}
    {% assign page_ancestors = page_url | split:'/' %}
    
    <title>{% if page.title %}{{ page.title }} // {% endif %}{{ site.project.alt_name }} by {{ site.project.author }}</title>
    
    <base href="{{ site.url }}">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    {% stylesheet css/app %}
</head>
<body>
    {% include nav.html %}
    {% include header.html %}
