{% for parent in site.navigation %}
    {% if page_url contains parent.url and parent.navigation %}
        <aside class="sidebar">
            <nav>
                <ul class="sidebar/nav">
                    {% for item in parent.navigation %}
                        {% if item.type == 'category' %}
                            <li class="sidebar/nav/category">{{ item.name }}</li>
                        {% else %}
                            {% capture full_link %}{{ parent.url }}/{{ item.url }}{% endcapture %}
                            {% if page_url contains full_link %}
                                <li class="sidebar/nav/item --active">{{ item.name }}</li>
                            {% else %}
                                <li class="sidebar/nav/item">
                                    <a href="{{ parent.url }}/{{ item.url }}">{{ item.name }}</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </aside>
    {% endif %}
{% endfor %}
