@include component(sidebar){
    float: left;
    width: 25%;
    
    + #content{
        float: left;
        width: 75%;
    }
    
    @include part(nav){
        margin: 0 64px 0 0;
        padding: 0 32px 32px 0;
        list-style: none;
        border-right: 1px solid #eff0f1;
        
        @include part(category){
            display: block;
            margin: 8px 0;
            padding: 8px 0;
            border-bottom: 1px dashed #eff0f1;
            
            &:first-child{
                margin-top: 0;
                padding-top: 0;
            }
        }
        
        @include part(item){
            @include font-size(14px);
            line-height: 1.5;
            
            @include option(active){
                font-weight: bold;
                color: $lightAccentColor;
            }
        }
    }
}
