// Base components

label{
    cursor: pointer;
}

%flexRow, %flexCol{
    display: flex;
}
%flexRow{
    flex-direction: row;
}
%flexCol{
    flex-direction: column;
}

%flexAround{
    justify-content: space-around;
}
%flexBetween{
    justify-content: space-between;
}

@import "components/alert";
@import "components/breadcrumb";
@import "components/meta";
@import "components/nav";
@import "components/sidebar";
@import "components/toc";
@import "components/typography";
