@charset "utf-8";

$spacing-unit:     30px;

$pastelColor: #FAF2FD;
$lightAccentColor: #AA076B;
$darkAccentColor: #61045F;

$csstyle-part-symbol: '\\/';
$csstyle-root-id: 'twostream';

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "github-light",
        "base",
        "syntax-highlighting"
;
