@include component(meta){
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    max-width: 1170px;
    padding: 0 6rem;
    @extend %flexRow;
    justify-content: center;
    
    @include part(badge){
        display: block;
        float: left;
        padding-right: .5rem;
        
        img{
            display: block;
            width: 100%;
        }
    }
}
