@include component(toc){
    margin: 0;
    padding: 0;
    list-style: none;
    
    @include part(level){
        margin-left: 1.1em;
    }
    
    @include part(item){
        @include font-size(14px);
        color: #AA076B;
        
        a{
            color: inherit;
            
            &:before{
                content: '#';
                display: block;
                float: left;
                padding: 0 .5em 0 2px;
                opacity: .3;
                transition: opacity .2s;
            }
            
            &:hover{
                &:before{
                    opacity: .6;
                }
            }
        }
    }
}
