@include component(text){
    @include part(lead){
        margin-bottom: 64px;
        @include font-size(32px);
        line-height: 1.2;
        text-align: justify;
        padding: 1rem 0;
    }
}
