{% include head.html %}
    <section class="main-content" id="{% if page_id != '' %}{{ page_id }}{% else %}home{% endif %}">
        <div class="body clearfix">
            {% include breadcrumb.html %}
            {% include sidebar.html %}
            <main id="content" class="page">
                {% if content contains "<!-- header end -->" %}
                    {% assign the_content = content | split: '<!-- header end -->' %}
                    {{ the_content[1] | replace_first: '<p>', '<p class="text/lead">' }}
                {% else %}
                    {{ content | toc_generate }}
                {% endif %}
            </main>
        </div>
        {% include foot.html %}
